// Main Colours
$white: white;
$black: black;
$background: rgb(29, 29, 29); 
$lightBlack: #333333;

// Trailer button colour 
$trailerBtn:  #6495ED;
$playHover: rgb(250, 62, 62);

// Single Movie 
$line: rgba(255, 255, 255, 0.1);
$singleMovieLinear: rgba(0, 0, 0, 0.3);

// Glass Effect 
$glassBackground1: rgba(255, 255, 255, 0.1); 
$glassBackground2: rgba(255, 255, 255, 0);  
$glassBoxShadow: rgba(0, 0, 0, 0.37);

// About page 
$aboutPageBackground: rgb(71, 71, 71); 

// Navbar 
$navBackground: rgba(0, 0, 0, 0.7);
$navGrey: rgba(255, 255, 255, 0.555);
$navWhite:  #f1f1f1;
$navHover: rgb(133, 133, 133); 
$navHoverBackground: rgb(50, 50, 50); 