@use 'colours' as *;


footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $background;
  // padding: 1rem 0;
}

.footer-info {
  color: $white;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.social-icon {
  // font-size: 1.5rem;
  margin: 0 0.3rem;
  color:$white;
}

@media (min-width: 20rem) {
  footer { 
    padding: 0.2rem 0;
  }
  .footer-info { 
    font-size: 0.8rem;
  }
}