@use "typography" as *; 
@use "colours" as *;


.poster {
  position: relative;
  margin: 10px; /* space around the posters */
  width: 200px; /* Adjust poster size */
  height: auto; 
  font-family: $font;
  .movie-overview { 
    color: $white;
    margin: 0.5rem 0;
    width: 90%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.poster:hover .overlay {
  opacity: 1;
}

.title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: $font;
}

.rating {
  color: #fff;
  font-size: 16px;
  font-family: $font;
}

.fav-button { 
    .heart, .unheart{ 
  font-size: 3rem;
  color: $heartColour;
  margin-top: 1rem;

  }
}

@media (min-width: 20em){
  .poster {
    position: relative;
  margin: 15px; /* space around the posters */
  width: 90%;
  height: auto; 
  font-family: $font;
  }
}

