nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7); /* 50% opacity */
  z-index: 2000;


  .list {
    list-style-type: none;
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: right;
    
    .items a {
      text-decoration: none;
      color:white;
    }

  
    @media screen and (max-width: 500px) {
      flex-direction: column;
      height: auto;

      .items:nth-child(1) {
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
      }

      .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
      }
    }

    .items {
      margin-right: 20px;
      font-size: 20px;
      color: #f1f1f1;
      cursor: pointer;
    }
  }
}

.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;

  @media screen and (max-width: 500px) {
    display: block;
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .line {
    width: 100%;
    height: 4px;
    background: white;
    margin-bottom: 5px;
    z-index: 30000;
  }
}

