@use 'colours' as *;

.main-single-body {
  height: 100vh;
  position: relative;
  display: flex;

  .single-movie-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, $singleMovieLinear, $black );
      z-index: 1;
    }
    
    .single-backdrop-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .single-hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, transparent, $black);
      z-index: 2;
    }
  }

  .movie-content-box { 
    flex: 1;
    // background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
    position: relative;
  }
  .single-movie-content {
    font-size: 1.2rem;
    position: relative;
    .single-movie-information {
      color: $white;

      .single-poster-img {
        margin-top: 4rem;
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }

    }
    .trailer-container { 
        right: 0;
        .youtube-player {
            margin: 1rem auto;
            width: 10%;
            height: 100%;
            // boarder can be added 
          }
     }
   }
}


// Media queries 

@media (min-width: 20rem) {
    .main-single-body {
      position: relative;
      .single-movie-title-left { 
          display: none;
      }
      .single-movie-rating-left {
          display: none;
      }
      .single-hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0, 0, 0, 0.4);
      }
  
      .trailer-container {
        display: none;
      }

      .play-trailer-btn { 
          background-color: $trailerBtn;
          color: $white;
          padding: 0.4rem;
          font-size: rem;
          font-weight: 900;
          text-decoration: none;
          display: flex;
          justify-content: center;
          width: 9rem;
          margin: 0 auto;
          margin-top: 2rem;
    text-transform: uppercase;
        &:hover {
                cursor: pointer;
                transition : ease-in 0.3s;
                background-color: $playHover ;
                }
      }
  
      .single-poster-img {
          display: none;
      }
      .single-backdrop-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .single-movie-information {
          vertical-align: middle;
          width: 90%;
          margin: 0 auto;
      .single-info { 
          text-align: center;
          margin: 0.7rem 0;
      }
      .play-trailer { 
        margin: 0 auto;
        border: solid 1px $black;
        padding: 0.2rem;
      }
      .single-overview {
         margin: 0 auto;
         width: 90%;
      }
      .single-overview-header { 
          font-size: 1.2rem;
      }
      .line { 
          display: none;
      }
    }
  }
}
  @media (min-width: 48rem) {
    .main-single-body {
        .single-movie-content {
            width: 100%;

            .single-movie-title-left { 
                display: block;
                width: 100%;
            }
            .single-movie-title-left { 
                position: absolute;
                left: 0;
                margin-left: 2rem;
                bottom: 10rem;
                float: left;
                width: 45%;
                color: $white;
              }
              .single-movie-rating-left { 
                display: block;
                position: absolute;
                left: 0;
                margin-left: 2rem;
                bottom: 8rem;
                float: left;
                width: 45%;
                color: $white;
              }
            
            .single-movie-information {
                float: right;
                width: 45%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center; /* vertical alignment */
                font-size: 0.9rem;
                // glass effect
                background: linear-gradient(135deg, $glassBackground1, $glassBackground2);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(0.5rem);
                box-shadow: 0 8px 32px 0 $glassBoxShadow;
                .trailer-container { 
                    display: block;
                    width: 90%;
                    height: 100%;
                .youtube-player {
                    width: 100%;
                    height: auto;
                }
            }
                .single-overview { 
                    width: 80%;
                    line-height: 1.4rem;
                }
                .single-movie-title {
                    display: none;
                }
                .single-movie-rating { 
                    display: none;
                }
                .play-trailer-btn {
                    display: none;
                }
                .line { 
                    display: block;
                    border-top: 0.5px solid $line;
                    border-radius: 2px;
                    width: 90%;
                    backdrop-filter: blur(5px);
                    opacity: 0.3;
                }
            }
        }
    }
    
  }

  @media (min-width: 64rem) { 
            .main-single-body {
                .single-movie-content {
                    .single-movie-title-left {
                        font-size: 2rem;
                    }
                    .trailer-container{ 
                        width: 90%;
                        height: 100%;

                    }
                .single-movie-information { 
                    width: 50%;
                    font-size: 1.1rem;
                }
    }
  }
  }

  @media (min-width: 87.5rem) { 
      .main-single-body {
          .trailer-container {
              width: 100%;
              height: 100%;
              .youtube-player {
                  width: 100%;
                  height: auto;
              }
    }
      .single-movie-content {
          width: 100%;
          .single-movie-title-left {
            font-size: 2.5rem;
        }
        .single-info { 
            font-size: 1.2rem;
        }
      }
  }
}