@use 'colours' as *;
@use 'typography' as *;


.about-body {
    font-family: $font;
    background-color: $background;
    width: 100vw;
    height: 100vh;
    .about-page { 
        width: 100vw;
        height: 100vh;
    }
.about-content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    // background-color: $aboutPageBackground;
    border-radius: 4rem;

  
    .title-about {
        display: flex;
        justify-content: center;
        color: $white;
    }
    .about-text {
        color: $white;
        text-align: center;
    }

    .tmdb-link {
        text-align: center;
    }
    .tmdb-logo {
        width: 3.125rem;
        height: 3.125rem;
    }

}
}

@media (min-width: 20rem) {
    .about-content {
        width: 80%;
    .about-text {
        margin: 0 auto;
        font-size: 1rem;
    }
    .title-about { 
        font-size: 2rem;
        text-align: center;
        line-height: 2.5rem;
        margin: 3rem 0 1rem 0;
    }
    .about-text-1, .about-text-2, .about-text-3 { 
        text-align: center;
        line-height: 1.5rem;
        margin-bottom: 1rem ;

    .about-slogan {
        font-style: italic;
        text-align: center;
    }
}
    }
    


@media (min-width: 48rem) {
    .about-content {
        max-width: 48rem;
    .about-text {
        width: 80%;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    .title-about { 
        margin-bottom: 1rem;
        font-size: 3rem;
        text-align: center;
    }
    .tmdb-link {
    text-align: center;

    }
}
}
}

@media (min-width: 64rem) {
    .about-content {
    .tmdb-link {
        margin: 1rem 0 1rem 0;
    }
    .about-text {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .title-about { 
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }
}
}
