@use 'colours' as *;

.body { 
    background-color: $background;
    color: $white;
    .info {
        .title, .rating, .release { 
            color: $white;
            max-width: 15rem;
            text-align: center;
        }
    }
    .row { 
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        
    }
    .hero { 
        margin-bottom: 2rem;
        position: relative;
        height: 37.5rem;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

