body {
  background-color: #111111;
  color: white;
}

p {
  color: white;
  max-width: 15rem;
  text-align: center;
}

.card {
  width: 18rem;
}

.poster img {
  width: 15rem;
  display: grid;
}

.row {
  display: grid;
  max-width: 62.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.hero {
  position: relative;
  height: auto;
  background-size: cover;
  background-size: 100vw;
  background-repeat: no-repeat;
}
